<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Priority.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>autoLayoutAndSizeClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>equalWidth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install +.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tableViewAutulayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>字体约束添加.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>223DF43D1CC757F900BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4561CC757F900BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4611CC757F900BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4771CC76C4700BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4921CC76C4700BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF49D1CC76C4700BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4B11CC76E1000BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4CC1CC76E1000BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4D71CC76E1000BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF4EB1CC76EEE00BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5031CC76EEF00BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF50E1CC76EEF00BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5231CC7717500BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF53E1CC7717500BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5491CC7717500BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF55E1CC77F5800BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5761CC77F5800BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5811CC77F5800BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF59D1CC86D1200BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5B51CC86D1200BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5C01CC86D1200BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5D51CC8704900BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5ED1CC8704900BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223DF5F81CC8704900BE69A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
